//colors
$color_gallery_approx: #eee;
$white: #fff;
$color_black_haze_approx: #f6f6f6;
$color_alabaster_approx: #f9f9f9;
$color_mercury_approx: #e6e6e6;
$color_silver_chalice_approx: #aaa;
$color_pink_swan_approx: #bbb;
$color_mountain_mist_approx: #999;
$color_gray_nurse_approx: #eaeaea;
$color_concrete_approx: #f3f3f3;
$color_valencia_approx: #de444c;
$black: #000000;
$color_limeade_approx: #690;
$color_geyser_approx: #cedbe1;
$color_soft_amber_approx: #cec6b5;

$color_suva_gray_approx: #888;

// Colors
$color_main: #4ab2f1;
$color_main--active: #248ece;
$color_error: #e4434b;
$color_success: #4cb17c;
$color_warning: #f39c12;
$color_shadow: rgba(0,0,0,0.25);

// Fonts
$font: "Arial", "Helvetica", "sans-serif";
$font--code: "Courier New", "Courier", "monospace";
$font_color: #444;
$font_color--alt: #777;
$font_size--xxxs: 12px;
$font_size--xxs: 13px;
$font_size--xs: 14px;
$font_size--s:  15px;
$font_size--m: 16px;
$font_size--l: 17px;
$font_size--xl: 18px;
$font_size--xxl: 20px;
$font_size--xxxl: 22px;
$font_size--title-s: 24px;
$font_size--title: 30px;

// Borders
$border_size: 1px;
$border_radius: 0;
$border_color: #ddd;
$border_color--active: #333;
$border_color--alt: #ccc;

// Breakpoints
$breakpoint_xs: 481px;
$breakpoint_s: 769px;
$breakpoint_m: 1000px;
$breakpoint_l: 1001px;
$breakpoint_xl: 1367px;

@import './globals/_core.scss';
@import './globals/_inputs.scss';
@import './globals/_buttons.scss';
@import './globals/_lists.scss';
@import './globals/_master.scss';
@import './globals/_center.scss';
@import './globals/_sides.scss';
@import './globals/_page.scss';

@import './_forms.scss';

@import './notifications_popups/_bar-notification.scss';
@import './notifications_popups/_ui-dialog.scss';
@import './notifications_popups/_eu-cookie-bar-notification.scss';
@import './notifications_popups/_noscript.scss';
@import './notifications_popups/_ajax-loading-block-window.scss';
@import './notifications_popups/_please-wait.scss';

@import './headers/_admin-header-links.scss';
@import './headers/_header.scss';
@import './headers/_language-list.scss';
@import './headers/_topcartlink.scss';
@import './headers/_search-box.scss';
@import './headers/_ui-autocomplete.scss';

@import './footer/_footer.scss';
@import './footer/_follow-us.scss';
@import './footer/_newsletter.scss';
@import './footer/_theme-selector.scss';

@import './side-column/_block.scss';
@import './side-column/_polls.scss';

@import './category-page/_breadcrumb.scss';
@import './category-page/_descriptions.scss';
@import './category-page/_contact-vendor.scss';
@import './category-page/_product-selectors.scss';
@import './category-page/_product-filters.scss';
@import './category-page/_item-box.scss';
@import './category-page/_grids.scss';
@import './category-page/_pager.scss';

@import './product-page/_product-details-page.scss';
@import './product-page/_product-essential.scss';
@import './product-page/_gallery.scss';
@import './product-page/_overview.scss';
@import './product-page/_variant-overview.scss';
@import './product-page/_product.scss';
@import './product-page/_customer-entered-price.scss';
@import './product-page/_tier-prices.scss';
@import './product-page/_attributes.scss';
@import './product-page/_ui-datepicker.scss';
@import './product-page/_tooltip-container.scss';
@import './product-page/_giftcard.scss';

@import './product-review/_product-reviews-page.scss';
@import './product-review/_write-review.scss';
@import './product-review/_product-review.scss';

@import '/wishlist-compare/_wishlist-page.scss';
@import '/wishlist-compare/_wishlist-content.scss';
@import '/wishlist-compare/_compare-products-page.scss';
@import '/wishlist-compare/_compare-products-table.scss';

@import '/topics/_topic-block-title.scss';
@import '/topics/_topic-block-body.scss';
@import '/topics/_topic-password.scss';
@import '/topics/_enter-password-title.scss';
@import '/topics/_enter-password-form.scss';

@import '/_contact-page.scss';

@import '/registration-login-acount_pages/_gender.scss';
@import '/registration-login-acount_pages/_date-of-birth.scss';
@import '/registration-login-acount_pages/_check-availability-button.scss';
@import '/registration-login-acount_pages/_accept-privacy-policy.scss';
@import '/registration-login-acount_pages/_registration-login-account-pages.scss';
@import '/registration-login-acount_pages/_external-authentication.scss';
@import '/registration-login-acount_pages/_add-more-external-records.scss';
@import '/registration-login-acount_pages/_adress_list-order_list-pages.scss';
@import '/registration-login-acount_pages/_address-edit-page.scss';
@import '/registration-login-acount_pages/_recurring-payments.scss';
@import '/registration-login-acount_pages/_return-request-list-page.scss';
@import '/registration-login-acount_pages/_reward-points-overview.scss';
@import '/registration-login-acount_pages/_change-password-page.scss';
@import '/registration-login-acount_pages/_avatar-page.scss';
@import '/registration-login-acount_pages/_vendorinfo-page.scss';

@import '/shopping-cart/_order-progress.scss';
@import '/shopping-cart/_shopping-cart-page.scss';
@import '/shopping-cart/_checkout-attributes.scss';
@import '/shopping-cart/_selected-checkout-attributes.scss';
@import '/shopping-cart/_cart-footer.scss';
@import '/shopping-cart/_cart-total.scss';
@import '/shopping-cart/_min-amount-warning.scss';
@import '/shopping-cart/_terms-of-service.scss';
@import '/shopping-cart/_cart-collaterals.scss';
@import '/shopping-cart/_remove-buttons.scss';

@import '/checkout/_checkout-page.scss';
@import '/checkout/_enter-address.scss';
@import '/checkout/_select-pickup-point.scss';
@import '/checkout/_methods.scss';
@import '/checkout/_confirm-order.scss';
@import '/checkout/_order-review-data.scss';
@import '/checkout/_opc.scss';

@import '/order-details/_order-details-page.scss';
@import '/order-details/_user-agreement-page.scss';

@import '/search_sitemap/_search-input .scss';
@import '/search_sitemap/_advanced-search.scss';
@import '/search_sitemap/_search-results.scss';
@import '/search_sitemap/_sitemap-page.scss';

@import '/blog_news/_block-blog-archive.scss';
@import '/blog_news/_blog_blogposts-pages.scss';
@import '/blog_news/_news-items_blog-posts.scss';
@import '/blog_news/_post_news-titles.scss';
@import '/blog_news/_post_news-dates.scss';
@import '/blog_news/_new-comment.scss';
@import '/blog_news/_comment-list.scss';
@import '/blog_news/_comment-info.scss';
@import '/blog_news/_comment-time .scss';
@import '/blog_news/_comment-title.scss';
@import '/blog_news/_comment-body.scss';
@import '/blog_news/_news-list-homepage.scss';

@import '/forum_profile/_forums-main-page.scss';
@import '/forum_profile/_forum-breadcrumb.scss';
@import '/forum_profile/_forums-header.scss';


.link-rss {
	display: none;
	width: 24px;
	height: 24px;
	background: $url_0 center no-repeat;
	font-size: 0 !important;
}
.category-description {
	
	ul {
		@extend %extend_6;
	}
	ol {
		@extend %extend_7;
	}
	p {
		margin: 10px 0;
		text-align: justify;
	}
}
.manufacturer-description {
	
	ul {
		@extend %extend_6;
	}
	ol {
		@extend %extend_7;
	}
	p {
		margin: 10px 0;
		text-align: justify;
	}
}
.full-description {
	clear: both;
	line-height: 24px;
	ul {
		@extend %extend_6;
	}
	ol {
		@extend %extend_7;
	}
	p {
		margin: 10px 0;
		text-align: justify;
	}
}
.topic-block {
	margin: 0 0 25px;
	ul {
		@extend %extend_6;
	}
	ol {
		@extend %extend_7;
	}
	p {
		margin: 10px 0;
		text-align: justify;
	}
	a {
		text-decoration: underline;
	}
	strong {
		color: $font_color;
	}
}
.topic-page {
	ul {
		@extend %extend_6;
	}
	ol {
		@extend %extend_7;
	}
	p {
		margin: 10px 0;
		text-align: justify;
	}
	.page-body {
		text-align: justify;
		line-height: 22px;
	}
	a {
		text-decoration: underline;
	}
	strong {
		color: $font_color;
	}
}
.post-body {
	@extend %extend_49;
	ul {
		@extend %extend_6;
	}
	ol {
		@extend %extend_7;
	}
	p {
		margin: 10px 0;
		text-align: justify;
	}
}
.news-body {
	@extend %extend_49;
	p {
		margin: 10px 0;
		text-align: justify;
	}
}
.flyout-cart {
	display: none;
}
.table-wrapper {
	overflow-x: auto;
}
.cart {
	th {
		@extend %extend_12;
	}
	td {
		@extend %extend_13;
		&.unit-price {
			white-space: nowrap;
		}
		&.subtotal {
			white-space: nowrap;
			color: $font_color;
			.discount {
				font-style: italic;
				color: $color_main;
			}
			.discount-additional-info {
				font-style: italic;
				color: $color_main;
			}
		}
		&.quantity input {
			width: 50px;
			text-align: center;
		}
	}
	a {
		font-weight: normal;
		color: $color_main;
		&:hover {
			text-decoration: underline;
		}
	}
	.product {
		min-width: 225px;
		text-align: left;
		a {
			font-weight: bold;
			color: $font_color;
			&:hover {
				color: $color_main;
				text-decoration: none;
			}
		}
		.edit-item {
			margin: 10px 0 0;
			a {
				font-weight: normal;
				color: $color_main;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.remove-from-cart {
		text-align: center;
	}
	.add-to-cart {
		text-align: center;
	}
}
.data-table {
	th {
		@extend %extend_12;
	}
	td {
		@extend %extend_13;
		&.unit-price {
			white-space: nowrap;
		}
		&.total {
			white-space: nowrap;
			color: $font_color;
		}
	}
	a {
		font-weight: normal;
		color: $color_main;
		&:hover {
			text-decoration: underline;
		}
	}
	.product {
		min-width: 225px;
		text-align: left;
		a {
			font-weight: bold;
			color: $font_color;
			&:hover {
				color: $color_main;
				text-decoration: none;
			}
		}
	}
	.message {
		min-width: 225px;
		text-align: left;
	}
	.info {
		min-width: 225px;
		text-align: left;
		a {
			font-weight: bold;
			color: $font_color;
			&:hover {
				color: $color_main;
				text-decoration: none;
			}
		}
	}
	.name {
		min-width: 225px;
		text-align: left;
	}
	.select-boxes {
		text-align: center;
	}
	.order {
		text-align: center;
	}
	em a {
		font-weight: bold;
		color: $font_color;
	}
	div.download {
		margin: 10px 0 0;
	}
}
.forum-table {
	th {
		@extend %extend_12;
		&.replies {
			display: none;
		}
		&.views {
			display: none;
		}
		&.votes {
			display: none;
		}
		&.latest-post {
			display: none;
		}
		&.topics {
			display: none;
		}
		&.posts {
			display: none;
		}
	}
	td {
		@extend %extend_13;
		min-width: 90px;
		padding: 10px;
		&.replies {
			display: none;
		}
		&.views {
			display: none;
		}
		&.votes {
			display: none;
		}
		&.latest-post {
			display: none;
		}
		&.topics {
			display: none;
		}
		&.posts {
			display: none;
		}
		&.image {
			min-width: 0;
		}
	}
	a {
		font-weight: normal;
		color: $color_main;
		&:hover {
			text-decoration: underline;
		}
	}
	.forum-details {
		text-align: left;
	}
	.topic-details {
		text-align: left;
	}
}


/*** FORUM & PROFILE ***/
.forum-search-box {
	.basic {
		overflow: hidden;
		margin: 0 0 10px;
	}
	.advanced a {
		line-height: 22px;
		color: $font_color;
		text-decoration: underline;
		&:hover {
			color: $color_main;
		}
	}
}
.forum-search-page {
	.page-title {
		margin: 0 0 -1px;
	}
	.search-error {
		@extend %extend_54;
	}
	.no-result {
		@extend %extend_54;
	}
}
.forums-table-section {
	margin: 0 0 60px;
	.forum-title {
		margin: 5px 0;
		a {
			@extend %extend_56;
			&:hover {
				color: $color_main;
				text-decoration: none;
			}
		}
	}
	.topic-title {
		margin: 5px 0;
		a {
			@extend %extend_56;
			&:hover {
				color: $color_main;
				text-decoration: none;
			}
		}
		span {
			display: block;
			color: $font_color--alt;
		}
	}
	.forum-description {
		margin: 5px 0;
	}
	.topic-starter {
		margin: 5px 0;
	}
	.latest-post {
		white-space: nowrap;
		div {
			margin: 5px 0;
		}
		label {
			color: $font_color--alt;
		}
	}
	.view-all {
		margin: 30px 0 0;
		padding: 0 10px;
		a {
			background-color: $color_main;
			padding: 10px 15px;
			font-size: $font_size--xxxs;
			color: $white;
			text-transform: uppercase;
			&:hover {
				background-color: $color_main--active;
			}
		}
	}
	+ .pager {
		margin: -30px 0 30px;
	}
	.image div {
		width: 38px;
		height: 32px;
		margin: auto;
		background: $url_29 center no-repeat;
		&.sticky {
			background: $url_30 center no-repeat;
		}
		&.announcement {
			background: $url_31 center no-repeat;
		}
	}
}
.forums-table-section-title {
	margin: 0 0 15px;
	padding: 0 10px;
	a {
		@extend %extend_55;
		&:hover {
			color: $color_main;
		}
	}
	strong {
		@extend %extend_55;
	}
}
.forum-page {
	.forum-info {
		margin: 0 0 30px;
	}
	.forum-name {
		@extend %extend_57;
		h1 {
			font-size: $font_size--title;
			font-weight: normal;
		}
	}
}
.forum-actions {
	margin: 0 0 30px;
	font-size: 0;
	.actions {
		a {
			@extend %extend_58;
			&:hover {
				background-color: $color_mercury_approx;
			}
		}
		.new-topic {
			background: $color_gallery_approx $url_32 left center no-repeat;
		}
		.watch-forum {
			background: $color_gallery_approx $url_33 left center no-repeat;
		}
	}
	.pager.upper {
		display: none;
		margin: 0;
	}
}
.topic-actions {
	margin: 0 0 30px;
	font-size: 0;
	.actions {
		a {
			@extend %extend_58;
			&:hover {
				background-color: $color_mercury_approx;
			}
		}
		.watch-forum {
			background: $color_gallery_approx $url_33 left center no-repeat;
		}
	}
	.reply-topic-button {
		background: $color_gallery_approx $url_34 left center no-repeat;
	}
	.watch-topic-button {
		background: $color_gallery_approx $url_33 left center no-repeat;
	}
	.move-topic-button {
		background: $color_gallery_approx $url_35 left center no-repeat;
	}
	.edit-topic-button {
		background: $color_gallery_approx $url_36 left center no-repeat;
	}
	.delete-topic-button {
		background: $color_gallery_approx $url_37 left center no-repeat;
	}
	.pager.upper {
		display: none;
		margin: 0;
	}
	&.lower .actions {
		display: none;
	}
}
.active-discussions-page {
	.forums-table-section-title {
		margin: 0 0 25px;
		border-bottom: 1px solid $border_color;
		padding: 0 10px 10px;
		strong {
			font-size: $font_size--title;
			font-weight: normal;
		}
	}
	.forums-table-section-body {
		margin: 0 0 20px;
	}
}
.topic-post {
	margin: 0 0 30px;
	border-top: 1px solid $border_color;
	&:last-child {
		border-bottom: 1px solid $border_color;
	}
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	.post-info {
		margin: 30px 0;
	}
	.user-info {
		width: 150px;
		margin: 0 auto 15px;
	}
	.username {
		display: block;
		margin: 0 0 -1px;
		border: 1px solid $border_color;
		background-color: $color_black_haze_approx;
		padding: 11px 0;
		font-weight: bold;
		color: $font_color;
	}
	.avatar {
		@extend %extend_59;
		img {
			@extend %extend_60;
			border: solid 2px $color_geyser_approx !important;
		}
	}
	.user-stats {
		margin: 0 0 15px;
		li {
			display: inline-block;
			margin: 0 10px;
		}
		span {
			@extend %extend_61;
		}
	}
	.pm-button {
		@extend %extend_62;
		&:hover {
			background-color: $color_mountain_mist_approx;
		}
	}
	.post-time {
		margin: 0 0 15px;
		background-color: $color_black_haze_approx;
		padding: 10px 15px;
		font-size: $font_size--xxs;
		font-weight: bold;
		span {
			color: $font_color;
		}
	}
	.post-actions {
		margin: 0 0 15px;
		font-size: 0;
		> div {
			display: inline-block;
		}
		a {
			display: inline-block;
			margin: 1px 5px;
			font-size: $font_size--xs;
		}
		.edit-post-button {
			padding: 10px 10px 10px 33px;
			background: $url_36 left center no-repeat;
			&:hover {
				color: $color_main;
			}
		}
		.delete-post-button {
			padding: 10px 10px 10px 33px;
			background: $url_37 left center no-repeat;
			&:hover {
				color: $color_main;
			}
		}
		.post-link-button {
			padding: 10px;
			font-weight: bold;
			color: $color_main;
			&:hover {
				text-decoration: underline;
			}
		}
		.quote-post-button {
			background-color: $color_suva_gray_approx;
			padding: 10px 20px;
			color: $white;
			&:hover {
				background-color: $color_mountain_mist_approx;
				color: $white;
			}
		}
	}
	.post-text {
		padding: 0 10px 20px;
		line-height: 22px;
		color: $font_color;
		margin-bottom: 0;
	}
	.post-vote {
		text-align: center;
		display: table;
		margin: 0 auto 20px;
		span {
			&.vote {
				cursor: pointer;
				display: block;
				width: 40px;
				height: 24px;
				&.up.selected {
					background: $url_39 no-repeat 50% 50%;
				}
				&.down.selected {
					background: $url_41 no-repeat 50% 50%;
				}
			}
			&.up {
				background: $url_38 no-repeat 50% 50%;
			}
			&.down {
				background: $url_40 no-repeat 50% 50%;
			}
		}
	}
	.user-posted-image {
		max-width: 100%;
		height: auto;
	}
	.quote {
		@extend %extend_63;
	}
	.signature {
		border-top: 1px solid $border_color;
		padding: 20px;
		font-size: $font_size--xxs;
		font-style: italic;
		clear: both;
	}
	.vote-count-post {
		display: block;
		font-size: 160%;
	}
	a.username:hover {
		color: $color_main;
	}
}
.profile-info-box {
	overflow: hidden;
	line-height: normal;
	font-size: $font_size--xs;
	font-family: $font_18, $font_19, $font_20;
	color: $font_color--alt;
	.avatar {
		@extend %extend_59;
		margin: 0 auto 15px;
		img {
			@extend %extend_60;
		}
	}
	.pm-button {
		@extend %extend_62;
		&:hover {
			background-color: $color_mountain_mist_approx;
		}
	}
	.user-details {
		margin: 0 0 30px;
	}
	.title {
		margin: 0 0 10px;
		font-size: $font_size--xl;
		color: $font_color;
	}
	.stats {
		margin: 0 0 15px;
	}
	.profile-stats span {
		@extend %extend_61;
	}
}
.latest-posts {
	line-height: normal;
	font-size: $font_size--xs;
	font-family: $font_21, $font_22, $font_23;
	color: $font_color--alt;
	.user-posted-image {
		max-width: 100%;
		height: auto;
	}
	.quote {
		@extend %extend_63;
	}
	.topic {
		margin: 0 0 35px;
	}
	.topic-title {
		margin: 0 0 20px;
		border-top: 1px solid $border_color;
		background: $color_black_haze_approx;
		padding: 10px;
		font-size: $font_size--m;
		a {
			font-weight: bold;
			color: $font_color;
			&:hover {
				color: $color_main;
			}
		}
	}
	.topic-body {
		margin: 0 0 15px;
		line-height: 22px;
	}
	.topic-data {
		color: $font_color;
	}
}
.forum-edit-page {
	.page-title {
		margin: 0 0 -1px;
	}
	.message-error {
		margin: 20px 0;
	}
	.inputs {
		strong {
			display: inline-block;
			max-width: 400px;
			font-size: $font_size--xxxl;
			font-weight: normal;
			color: $font_color;
			white-space: normal;
		}
		.topic-subject {
			font-size: $font_size--l;
		}
		&.reversed {
			margin: 0;
			label {
				width: auto;
				margin: 5px;
				font-size: $font_size--xs;
				white-space: normal;
			}
		}
	}
	.bb-code-editor-wrapper {
		@extend %extend_64;
	}
	textarea {
		display: block;
		margin: auto;
	}
	.buttons {
		input {
			@extend %extend_66;
			&:hover {
				background-color: $color_suva_gray_approx;
			}
		}
		.button-1 {
			background-color: $color_main;
			&:hover {
				background-color: $color_main--active;
			}
		}
	}
	.toolbar .button {
		@extend %extend_65;
		&:hover {
			border: $border_color--active 1px solid;
		}
	}
}
.move-topic-page {
	.page-title {
		margin: 0 0 -1px;
	}
	label {
		white-space: normal;
	}
	.buttons {
		input {
			@extend %extend_66;
			&:hover {
				background-color: $color_suva_gray_approx;
			}
		}
		.button-1 {
			background-color: $color_main;
			&:hover {
				background-color: $color_main--active;
			}
		}
	}
}
.private-message-send-page {
	.page-title {
		margin: 0 0 -1px;
	}
	.message-error {
		margin: 20px 0;
	}
	.bb-code-editor-wrapper {
		@extend %extend_64;
	}
	textarea {
		display: block;
		margin: auto;
	}
	a {
		font-size: $font_size--xs;
		color: $color_main;
	}
	span {
		font-size: $font_size--xs;
	}
	.toolbar .button {
		@extend %extend_65;
		&:hover {
			border: $border_color--active 1px solid;
		}
	}
}


.ui-tabs {
	border: none;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: $border_radius;
	background: none;
	padding: 0;
	font: normal $font_size--xs $font_15, $font_16, $font_17;
	color: $font_color--alt;
}
.ui-tabs-nav {
	border-bottom: 1px solid $border_color;
	overflow: hidden;
	font-size: 0;
	margin: 0 0 30px !important;
	border-width: 0 0 1px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: $border_radius;
	background: none;
	padding: 0 !important;
	line-height: normal;
	font-weight: normal;
	color: $font_color;
	li {
		float: none !important;
		margin: 0 0 -1px !important;
		border: none !important;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: $border_radius;
		background: none !important;
		padding: 0 !important;
		a {
			display: block;
			border: 1px solid $border_color;
			text-align: center;
			font-size: $font_size--xl;
			color: $font_color;
			float: none !important;
			padding: 12px 24px !important;
		}
		&.ui-state-active a {
			background-color: $color_gallery_approx;
			color: $color_main;
		}
	}
}
.ui-tabs-panel {
	padding: 0 !important;
}

.private-messages-page {
	.table-wrapper {
		margin: 0 0 30px;
	}
	td {
		&.from {
			min-width: 150px;
		}
		&.to {
			min-width: 150px;
		}
		&.subject {
			min-width: 150px;
			a {
				color: $font_color;
				&.pm-unread {
					color: $color_main;
				}
			}
		}
		&.date {
			white-space: nowrap;
		}
	}
	.pager {
		margin: 0 0 30px;
	}
	.buttons {
		font-size: 0;
		.button-1 {
			@extend %extend_67;
		}
		.button-2 {
			@extend %extend_67;
		}
	}
	th.select {
		text-align: center;
	}
}
.private-message-view-page {
	.view-message {
		margin: 0 0 30px;
		margin: 0 0 30px;
	}
	.buttons {
		font-size: 0;
		.button-1 {
			@extend %extend_67;
		}
		.button-2 {
			@extend %extend_67;
		}
	}
	.message-head {
		margin: 0 0 20px;
		line-height: 22px;
		span {
			font-weight: bold;
			color: $font_color;
		}
	}
	.message-body {
		border-top: 1px solid $border_color;
		background-color: $color_alabaster_approx;
		padding: 30px 20px;
		line-height: 22px;
		text-align: justify;
	}
	.back-pm-button {
		text-transform: capitalize !important;
	}
}

pre {
	white-space: normal;
	word-wrap: break-word;
}

input[type="file"] > input[type="button"]::-moz-focus-inner {
	@extend %moz-focus-inner;
}

.footer-tax-shipping a {
	font-weight: bold;
	color: $color_main;
	&:hover {
		text-decoration: underline;
	}
}

.item-grid:after {
	content: "";
	display: block;
	clear: both;
}

.product-review-links a {
	text-decoration: underline;
	&:hover {
		color: $color_main;
	}
}

.home-page .topic-block {
	margin: 0 0 50px;
}

.popup-window .topic-page {
	padding: 15px;
}

.not-found-page p {
	margin: 30px 15px;
}

.downloadable-products-page table td {
	color: $font_color;
}

.reward-points-history table td {
	color: $font_color;
	&:first-child {
		min-width: 120px;
	}
}

.payment-info .info {
	padding: 30px 15px;
	color: $font_color;
	tr {
		display: block;
		margin: 0 0 15px;
		font-size: 0;
	}
	td {
		display: inline-block;
		width: 100% !important;
		max-width: 400px !important;
		font-size: $font_size--xs;
		&:only-child {
			width: 100% !important;
			max-width: 100% !important;
		}
		input[type="text"] {
			width: 100% !important;
		}
		input[name="CardCode"] {
			width: 65px !important;
		}
		select {
			min-width: 70px;
		}
		&:first-child {
			margin: 0 0 10px;
		}
	}
	p {
		text-align: center;
	}
}

.order-completed .details {
	margin: 0 0 30px;
	padding: 30px 15px;
	text-align: center;
	color: $font_color;
	div {
		margin: 5px 0;
	}
	strong {
		font-weight: normal;
		text-transform: uppercase;
	}
	a {
		color: $color_main;
		&:hover {
			text-decoration: underline;
		}
	}
}

.search-page .page-title {
	margin: 0 0 -1px;
}

.news-list-page .page-title {
	margin: 0;
}

.forum-topic-page .topic-name {
	@extend %extend_57;
	h1 {
		font-size: $font_size--title;
		font-weight: normal;
	}
}

.private-messages .buttons {
	input {
		@extend %extend_66;
		&:hover {
			background-color: $color_suva_gray_approx;
		}
	}
	.button-1 {
		background-color: $color_main;
		&:hover {
			background-color: $color_main--active;
		}
	}
}