
@media all and(max-width: 1000px) {
	.cart {
		display: block;
		colgroup {
			display: none;
		}
		thead {
			display: none;
		}
		tbody {
			display: block;
			overflow: hidden;
		}
		tr {
			display: block;
			float: left;
			width: 100%;
			margin: 40px 0 0;
			border: 1px solid $border_color;
		}
		td {
			display: block;
			border: none;
			padding: 10px;
			&.remove-from-cart {
				margin: 0 0 15px;
				border-bottom: 1px solid $border_color;
				background-color: $color_gallery_approx;
				padding: 10px;
			}
			&.product-picture {
				border-top: 1px solid $border_color;
				padding: 15px 10px 5px;
			}
			&.product {
				min-width: 0;
				border-bottom: 1px solid $border_color;
				padding: 5px 10px 15px;
				text-align: center;
			}
			&.quantity {
				display: inline-block;
				padding: 0 10px;
				vertical-align: middle;
			}
			&.unit-price {
				display: inline-block;
				padding: 20px 10px;
				vertical-align: middle;
			}
			&.subtotal {
				display: inline-block;
				padding: 20px 10px;
				vertical-align: middle;
			}
		}
	}
	.menu-toggle {
		background: $color_main $url_42 right center no-repeat;
		padding: 15px;
		font-size: $font_size--s;;
		font-weight: bold;
		color: $white;
		text-transform: uppercase;
		cursor: pointer;
	}
	.top-menu {
		display: none;
		> li {
			position: relative;
			margin: 1px 0;
			background-color: $color_black_haze_approx;
			> a {
				display: block;
				min-height: 55px;
				padding: 18px;
				font-size: $font_size--s;;
				color: $font_color;
			}
		}
		.sublist {
			display: none;
			background-color: $white;
			padding: 5px 0;
			li {
				position: relative;
				margin: 1px 0 1px 20px;
				a {
					display: block;
					padding: 15px 18px;
					font-size: $font_size--s;;
				}
			}
		}
	}
	.sublist-toggle {
		position: absolute;
		top: 0;
		right: 0;
		width: 55px;
		height: 55px;
		border-left: 1px solid $white;
		background: $url_43 center no-repeat;
		padding: 15px;
		font-size: $font_size--s;;
		font-weight: bold;
		color: $white;
		text-transform: uppercase;
		cursor: pointer;
	}
	.sublist {
		.sublist-toggle {
			height: 49px;
		}
		.sublist {
			li {
				background-color: $color_black_haze_approx;
			}
			.sublist li {
				background-color: $white;
			}
		}
	}
	.order-details-page .data-table {
		display: block;
		colgroup {
			display: none;
		}
		thead {
			display: none;
		}
		tbody {
			display: block;
			overflow: hidden;
		}
		tr {
			display: block;
			float: left;
			width: 100%;
			margin: 40px 0 0;
			border: 1px solid $border_color;
		}
		td {
			display: block;
			border: none;
			padding: 10px;
			&.product {
				min-width: 0;
				border-bottom: 1px solid $border_color;
				padding: 5px 10px 15px;
				text-align: center;
			}
			&.tracking-number {
				min-width: 0;
				border-bottom: 1px solid $border_color;
				padding: 5px 10px 15px;
				text-align: center;
			}
		}
	}
}