
@media all and(min-width: 1367px) {
	.customer-info-page {
		.vat-note {
			margin-left: 225px;
		}
		.email-to-revalidate-note {
			margin-left: 225px;
		}
	}
	.cart-footer {
		.totals {
			width: 395px;
			margin: 0;
		}
		.cart-collaterals {
			width: 760px;
			margin: 0;
			.deals {
				float: left;
				width: 360px;
			}
			.shipping {
				float: right;
				width: 360px;
			}
		}
		.estimate-shipping .inputs {
			label {
				display: inline-block;
				width: 35%;
			}
			input {
				width: 65%;
			}
			select {
				width: 65%;
			}
		}
	}
	.inputs label {
		width: 375px;
	}
	.login-page .returning-wrapper {
		input[type="text"] {
			width: 360px;
		}
		input[type="email"] {
			width: 360px;
		}
		input[type="password"] {
			width: 360px;
		}
	}
	.registration-page .vat-note {
		margin-left: 385px;
	}
	.shipping-method .method-list li {
		margin: 20px 1%;
	}
	.payment-method .method-list li {
		margin: 20px 1%;
	}
	.payment-info .info td {
		&:first-child {
			width: 375px !important;
		}
		&:only-child {
			width: 100% !important;
		}
	}
	.forum-actions .pager {
		max-width: 600px !important;
	}
	.topic-actions .pager {
		max-width: 600px !important;
	}
	.topic-post .post-text {
		width: 930px;
		max-width: 100%;
	}
}