
@media all and(min-width: 1367px) {
	.inputs label {
		width: 375px;
	}
	.shipping-method .method-list li {
		margin: 20px 1%;
	}
	.payment-method .method-list li {
		margin: 20px 1%;
	}
	.payment-info .info td {
		&:first-child {
			width: 375px !important;
		}
		&:only-child {
			width: 100% !important;
		}
	}
	.forum-actions .pager {
		max-width: 600px !important;
	}
	.topic-actions .pager {
		max-width: 600px !important;
	}
	.topic-post .post-text {
		width: 930px;
		max-width: 100%;
	}
}