
@media all and(min-width: 769px) {
	.variant-picture {
		float: left;
		+ .variant-overview {
			width: auto;
			margin: 0 0 0 240px;
		}
	}
	.cart-options {
		.common-buttons {
			text-align: right;
		}
		.checkout-attributes {
			padding: 0 10px;
		}
		.selected-checkout-attributes {
			padding: 0 10px;
		}
	}
	.comment-content {
		display: table-cell;
		width: 85%;
		border-left: 1px solid $border_color;
		vertical-align: top;
		text-align: left;
	}
	.topic-posts {
		margin: 0 0 30px;
	}
	.forum-table {
		th {
			&.replies {
				display: table-cell;
			}
			&.views {
				display: table-cell;
			}
			&.votes {
				display: table-cell;
			}
		}
		td {
			&.replies {
				display: table-cell;
			}
			&.views {
				display: table-cell;
			}
			&.votes {
				display: table-cell;
			}
			&.image {
				max-width: none;
				div {
					max-width: none;
					background-size: initial;
				}
			}
		}
	}
	.ui-tabs-nav {
		text-align: left;
		li {
			margin: 0 10px -1px 0 !important;
		}
	}
	.cart tr {
		width: 31.33333%;
		margin: 40px 1% 0;
		&:nth-child(2n + 1) {
			clear: none;
		}
		&:nth-child(3n + 1) {
			clear: both;
		}
	}
	.payment-info .info {
		padding: 30px 75px;
	}
	.shipment-details-page .tracking-number .tracking-url {
		color: $color_main;
	}
}