

//original selectors
//.post-body, .news-body
%extend_49 {
	margin: 0 0 20px;
	padding: 0 10px;
	line-height: 22px;
}

//original selectors
//.private-messages-page .buttons .button-1, .private-messages-page .buttons .button-2, .private-message-view-page .buttons .button-1, .private-message-view-page .buttons .button-2
%extend_67 {
	display: block;
	width: 250px;
	margin: 0 auto 3px;
	font-size: $font_size--s;
}
