
//original selectors
//.forum-edit-page .buttons input, .move-topic-page .buttons input, .private-messages .buttons input
%extend_66 {
	min-width: 140px;
	border: none;
	background-color: $color_mountain_mist_approx;
	padding: 10px 30px;
	text-align: center;
	font-size: $font_size--s;
	color: $white;
	text-transform: uppercase;
}
//original selectors
//.category-description ul, .manufacturer-description ul, .full-description ul, .topic-block ul, .topic-page ul, .post-body ul
%extend_6 {
	margin: 12px 0;
	padding: 0 0 0 36px;
	list-style: disc;
}
//original selectors
//.category-description ol, .manufacturer-description ol, .full-description ol, .topic-block ol, .topic-page ol, .post-body ol
%extend_7 {
	margin: 12px 0;
	padding: 0 0 0 36px;
	list-style: decimal;
}
//original selectors
//.cart th, .data-table th, .forum-table th
%extend_12 {
	border-width: 1px 1px 0;
	border-style: solid;
	border-color: $border_color;
	background-color: $color_black_haze_approx;
	padding: 10px;
	white-space: nowrap;
	font-weight: normal;
}
//original selectors
//.cart td, .data-table td, .forum-table td
%extend_13 {
	min-width: 50px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent $border_color $border_color;
	background-color: $white;
	padding: 20px;
	color: $font_color;
}

//original selectors
//.post-body, .news-body
%extend_49 {
	margin: 0 0 20px;
	padding: 0 10px;
	line-height: 22px;
}

//original selectors
//.forum-search-page .search-error, .forum-search-page .no-result
%extend_54 {
	margin: 0 0 15px;
	text-align: center;
	color: $color_error;
}

//original selectors
//.forums-table-section-title a, .forums-table-section-title strong
%extend_55 {
	font-size: $font_size--xxxl;
	font-weight: normal;
	color: $font_color;
}

//original selectors
//.forums-table-section .forum-title a, .forums-table-section .topic-title a
%extend_56 {
	font-size: $font_size--m;
	font-weight: bold;
	color: $font_color;
}

//original selectors
//.forum-page .forum-name, .forum-topic-page .topic-name
%extend_57 {
	margin: 0 0 25px;
	border-bottom: 1px solid $border_color;
	padding: 0 10px 10px;
}

//original selectors
//.forum-actions .actions a, .topic-actions .actions a
%extend_58 {
	display: inline-block;
	margin: 1px;
	padding: 10px 10px 10px 33px;
	font-size: $font_size--xs;
}

//original selectors
//.topic-post .avatar, .profile-info-box .avatar
%extend_59 {
	position: relative;
	width: 150px;
	height: 150px;
	border: 1px solid $border_color;
	overflow: hidden;
}

//original selectors
//.topic-post .avatar img, .profile-info-box .avatar img
%extend_60 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

//original selectors
//.topic-post .user-stats span, .profile-info-box .profile-stats span
%extend_61 {
	margin: 0 0 0 3px;
	font-weight: bold;
	color: $font_color;
}

//original selectors
//.topic-post .pm-button, .profile-info-box .pm-button
%extend_62 {
	display: inline-block;
	border: none;
	background-color: $color_suva_gray_approx;
	padding: 10px 20px;
	font-size: $font_size--xxxs;
	color: $white;
	text-transform: uppercase;
}

//original selectors
//.topic-post .quote, .latest-posts .quote
%extend_63 {
	margin: 10px 0;
	border: 1px dashed $border_color--alt;
	background-color: $color_alabaster_approx;
	padding: 10px;
	color: $font_color--alt;
}

//original selectors
//.forum-edit-page .bb-code-editor-wrapper, .private-message-send-page .bb-code-editor-wrapper
%extend_64 {
	max-width: 400px;
	margin: 20px auto;
	background-color: $border_color;
	padding: 10px;
}

//original selectors
//.forum-edit-page .toolbar .button, .private-message-send-page .toolbar .button
%extend_65 {
	margin: 0 2px 0 0;
	border: $color_soft_amber_approx 1px solid;
	padding: 2px;
}

//original selectors
//.private-messages-page .buttons .button-1, .private-messages-page .buttons .button-2, .private-message-view-page .buttons .button-1, .private-message-view-page .buttons .button-2
%extend_67 {
	display: block;
	width: 250px;
	margin: 0 auto 3px;
	font-size: $font_size--s;
}
