
//urls
$url_0: url("../images/rss.png");
$url_1: url("../images/close.png");
$url_2: url("../images/loading.gif");
$url_3: url("../images/ajax-loader-small.gif");
$url_4: url("../images/shopping-bag.png");
$url_5: url("../images/toggle-white.png");
$url_6: url("../images/social-sprite.png");
$url_7: url("../images/toggle-gray.png");
$url_8: url("../images/rating1.png");
$url_9: url("../images/rating2.png");
$url_10: url("../images/compare-button.png");
$url_11: url("../images/wishlist-button.png");
$url_12: url("../images/prev.png");
$url_13: url("../images/next.png");
$url_14: url("../images/first.png");
$url_15: url("../images/last.png");
$url_16: url("../images/discontinued-product-icon.png");
$url_17: url("../images/email-button.png");
$url_18: url("../images/download-button.png");
$url_19: url("../images/shipping.png");
$url_20: url("../images/calendar-prev.png");
$url_21: url("../images/calendar-next.png");
$url_22: url("../images/remove.png");
$url_23: url("../images/edit.png");
$url_24: url("../images/retry.png");
$url_25: url("../images/return.png");
$url_26: url("../images/details.png");
$url_27: url("../images/pointer.png");
$url_28: url("../images/back-button.png");
$url_29: url("../images/topic-type1.png");
$url_30: url("../images/topic-type2.png");
$url_31: url("../images/topic-type3.png");
$url_32: url("../images/new.png");
$url_33: url("../images/watch.png");
$url_34: url("../images/reply.png");
$url_35: url("../images/move.png");
$url_36: url("../images/edit_.png");
$url_37: url("../images/remove_.png");
$url_38: url("../images/vote-up.png");
$url_39: url("../images/vote-up-selected.png");
$url_40: url("../images/vote-down.png");
$url_41: url("../images/vote-down-selected.png");
$url_42: url("../images/menu-icon.png");
$url_43: url("../images/toggle-black.png");
$url_44: url("../images/view-grid.png");
$url_45: url("../images/view-list.png");